:root {
	--custom-gap: 4px;
	--custom-line-height: 1;
}

// .b3-typography p,
// .b3-typography [data-node-id],
// .protyle-wysiwyg p,
// .protyle-wysiwyg [data-node-id] [spellcheck] {
// 	line-height: var(--custom-line-height);
// }

// #layouts div.layout-tab-container > div.protyle > div.protyle-content > div.protyle-wysiwyg {
// 	p {
// 		line-height: var(--custom-line-height) !important;
// 	}
// 	[data-node-id] {
// 		margin-top: var(--custom-node-margin-tb);
// 		margin-bottom: var(--custom-node-margin-tb);

// 		&.p {
// 			line-height: var(--custom-line-height) !important;
// 		}
// 	}
// }

.protyle-util {
	right: 373.984px !important;
	left: unset !important;
}

#layouts div.layout-tab-container > div.protyle > div.protyle-content > div.protyle-wysiwyg {
	gap: var(--custom-gap) !important;
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		margin: 0 !important;
		padding: 0 !important;
	}
	> .p {
		padding: 0 !important;
		margin: 0 !important;
		line-height: var(--custom-line-height) !important;
	}

	@mixin nested-list($level) {
		$indent: $level * 10px;
		.abcdefg1234 {
			background-color: aliceblue;
		}
		> .list {
			margin: 0 !important;
			padding: 0 !important;
			padding-left: $indent !important;

			> .li {
				padding: 0 !important;
				margin: 0 !important;
				min-height: unset;
				> .protyle-action {
					height: 25px;
					width: 14px !important;
				}
				> .p {
					padding: 0 !important;
					margin: 0 0 0 16px !important;
				}
				@if $level < 5 {
					@include nested-list($level + 1);
				}
			}
		}
	}
	> .list {
		margin: 0 !important;
		padding: 0 !important;

		> .li {
			padding: 0 !important;
			margin: 0 !important;
			min-height: unset;
			> .protyle-action {
				height: 25px;
				width: 14px !important;
			}
			> .p {
				padding: 0 !important;
				margin: 0 0 0 16px !important;
			}
			@include nested-list(1);
		}
	}
	// $base-indent: 10px;
	// @mixin nested-list($level: 0) {
	// 	$indent: $level * $base-indent;
	// 	> .list {
	// 		margin: 0 !important;
	// 		padding: 0 !important;

	// 		> .li {
	// 			padding: 0 !important;
	// 			margin: 0 !important;
	// 			min-height: unset;
	// 			> .list {
	// 				@include nested-list($level + 1);
	// 			}
	// 			> .protyle-action {
	// 				height: 25px;
	// 				width: 14px !important;
	// 			}
	// 			> .p {
	// 				padding: 0 !important;
	// 				margin: 0 0 0 16px !important;
	// 			}
	// 		}
	// 	}
	// }
	// @include nested-list();

	> .bq {
		margin: 0 !important;
		padding: 0 !important;
		> .p {
			margin: 0 !important;
		}
	}
	> .code-block {
		margin: 4px 0 !important;
		padding: 0 !important;

		.hljs {
			position: relative;
			// z-index: 1;
			line-height: 1.4 !important;
			padding: 0.4em 4px 0.4em 10px;
		}
		.protyle-action {
			z-index: unset;
			justify-content: flex-end;
			.fn__flex-1 {
				flex: unset !important;
			}
			.protyle-action__language {
				position: relative;
				z-index: 2;
				text-align: end;
				margin-right: 10px;
			}
			.b3-tooltips__nw {
				position: relative;
				z-index: 2;
			}
		}
	}
	> .hr {
		padding: 0 !important;
		margin: 0 !important;
	}
}
