:root {
	--custom-gap: 5px;
	--custom-line-height: 1.625;
	--protyle-font-size: 16px;
}

.b3-typography p,
.b3-typography [data-node-id],
.protyle-wysiwyg p,
.protyle-wysiwyg [data-node-id] [spellcheck] {
	line-height: var(--custom-line-height);
}

#layouts div.layout-tab-container > div.protyle > div.protyle-content > div.protyle-wysiwyg {
	p {
		line-height: var(--custom-line-height) !important;
	}

	[data-node-id] {
		margin-top: var(--custom-gap);
		margin-bottom: var(--custom-gap);

		&.p {
			line-height: var(--custom-line-height) !important;
		}
	}

	// 列表项的 action 图标，和内容块对齐
	div.li[data-node-id] {
		--list-action-offset-line-heigth: calc((var(--custom-line-height) - 1.625) * var(--protyle-font-size) / 2);
		--list-action-offset-sum: calc(var(--list-action-offset-line-heigth) + var(--custom-gap));
		> div.protyle-action {
			top: var(--list-action-offset-sum);
		}
		&::before {
			--origin-height: 37px;
			top: calc(var(--origin-height) + var(--list-action-offset-sum));
			// height: calc(100% - var(--origin-height) - var(--list-action-offset-sum));
		}
	}

	.av__cell[data-dtype='text'][data-wrap='true'] {
		line-height: var(--custom-line-height);
	}
}

/**
 * After SiYuan 3.1.5, the code block has changed its DOM structure.
 * The line numbers and code body have different font sizes, making it hard to align them with the same line-height, as line-height is a ratio without a unit (px, rem).
 * Here, we temporarily skip the line-height setting for the code block.
 */
.protyle-wysiwyg [data-node-id].code-block [spellcheck] {
	line-height: inherit;
}
